footer
  .container
    .row
      p.col-sm-3.offset-sm-3.col-xs-4.col-xs-offset-3
        a(href="/find") Find
      p.col-sm-3.col-xs-4
        a(href="/contact") Contact
      p.col-sm-3.offset-sm-0.col-xs-4.offset-xs-3
        a(href="#login" data-toggle='modal' data-target='#login') Login
      p.col-sm-3.offset-sm-3.col-xs-4
      p.col-sm-3.offset-sm-3.col-xs-4.offset-xs-3
      p.col-sm-3.col-xs-4
      p.col-sm-3.offset-sm-3.col-xs-4.offset-xs-3
      p.col-sm-3.col-xs-4
      p.col-sm-3.offset-sm-0.col-xs-4.offset-xs-7
    .row.copyright-line
      hr
      .col
        | #{company.name} - 2018 © Tous droits réservés
// Created by Nicolas.Vatin on 03/01/2018.