.header
  background url('http://lawyers-uganda.com/wp-content/uploads/2016/11/network.jpg')
  background-position center

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff
    margin 0
    box-sizing border-box

.navbar-header
  padding-left: 3%;

  .navbar-brand
    padding: 5px 15px 5px 0;

  .logo
    height: 100%;



.navbar

  .item-services
    a
      float left
      padding-right 0
    a + a
      padding-right inherit

  li
    display inline-block

.navbar-right
  position: relative;

@media (max-width: 1039px) // @screen-sm
  .navbar a
    font-size: 13px;