extends layouts/application

block content
  .find
    .container
      .find-form
        .bg
        h2 Rechercher
        address
          strong Entrer la prise réseau
          p Elle doit être sous la forme : XXX-XX-XX[-XX]
        form(action="/find" method="post" accept-charset="UTF-8" novalidate="novalidate")
          - if (success)
            .alert.alert-success.message-sent
              button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
              | #{success}
          - if (errors.error)
            .alert.alert-danger.message-error
              button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
              | #{errors.error}
          .form-group(class=(errors.prise ? "has-danger" : ""))
            input.form-control(type="text" name="prise" placeholder="XXX-XX-XX[-XX]" autofocus="1" value=params.prise)
            - if (errors.prise)
              span.help-block #{errors.prise}

          button.btn.btn-primary(type="submit")
            .fa.fa-spinner.fa-pulse
            | Rechercher
          .clearfix
